@{
    ViewData["Title"] = "Home Page";
}

@model Anime

@using (Html.BeginForm("Search", "Home", "Get"))
{
    //<label asp-for="SummonerName" class="control-label" style="color:white"><img src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/signup/en_US/c90bd494d0d5a9eecb710c7895776bb332a0e51a/assets/en_US/assets/lol-logo.png" alt="LOL"></label>
    <input type="text" name="Title" placeholder="Search for Anime..." class="form-control" value="" />
    <input type="submit" value="Search" class="btn btn-primary" />
    <link rel="stylesheet" href="~/css/Searchbar.css">
    //<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6df438df-2f9e-4176-88a6-e478efeb154c/d5biorh-99b17f06-1d09-46f8-8cd8-ac3e0f6fadc4.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNmRmNDM4ZGYtMmY5ZS00MTc2LTg4YTYtZTQ3OGVmZWIxNTRjXC9kNWJpb3JoLTk5YjE3ZjA2LTFkMDktNDZmOC04Y2Q4LWFjM2UwZjZmYWRjNC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.9U8pEBB53CvM0cj6qmjJ0mAt3Todv2pb2BPbqO4lISU" alt="John">

}
