@model IEnumerable<Anime>

<h2>Search Results</h2>


<table class="table">
    <tr>
        <th></th>
        <th>Title</th>
        <th>MAL Score</th>
        
    </tr>
    @{
    var count = 0;
    foreach (var ani in Model)
    {
        <tr>
            <td><a href=@ani.URL><img src="@ani.ImgURL" alt="image not found"/></a></td>
            <td><a href=@ani.URL>@ani.Title</a></td>
            <td>@ani.Score</td>
            
        </tr>
        
            count++;
            if (count >= 10)
            {
                break;
            }
        

    }
    }
</table>