@model Anime

<h2>Search Results</h2>

<div style="display: block">
    <a href="/Product/InsertProduct/">Create a New Product</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    @for(var i = 0; i < 10; i++)
    {
        <tr>
            <td><a href=@Model.URL> <img src="@Model.ImgURL" alt="image not found" />   </a></td>
            <td>@Model.Title</td>
            <td>@Model.Score</td>
            <td>@Model.MALID</td>
        </tr>

    }
</table>